table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 800px;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: white;
}

#pagination {
  width: max-content;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;
}